body {
	text-align: center;
	font-family: "Helvetica";
}

.container {
	margin: 45px;
	border: grey 3px solid;
	text-align: left;
	padding-left: 40px;
	text-align: center;
}

.cabecera {
	margin: 0 auto;
	justify-content: center;
	background-color: red;
	color: white;
	text-align: center;
	font-size: 1.8em;
	border-radius: 5px;
	width: 400px;
}
